<div class="index_page">
  <div class="sign_in">
    <% if !current_user %>
      <%= link_to "Sign in with your Dropbox account", "/auth/dropbox_oauth2",
          id: "sign_in" %> <br>
      <%= link_to "Sign in with your Google ID", "/auth/google_oauth2",
          id: "sign_in" %> <br>
      <%= link_to "Sign in with your LinkedIn ID", "/auth/linkedin",
          id: "sign_in" %> <br>
      <%= link_to "Sign in with your GitHub ID", "/auth/github",
           id: "sign_in" %> <br>
      <%= link_to "Sign in or sign up with your email and password", new_user_path %>
    <% end %>
  </div>
</div>