!!! 5
%html
  %head
    %title OauthDemonstration
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    =csrf_meta_tags

  %body
    = render 'flash_message'
    - if current_user
      .signout
        Hello #{current_user.name}
        %br/
        = link_to "Sign out", logout_path, id: "sign_out"

    = yield