<!DOCTYPE html>
<html>
<head>
  <title>OauthDemonstration</title>
  <%= stylesheet_link_tag    "application", media: "all",
      "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="signout">
      <% if current_user %>
        <p class="current_user">Hello <%= current_user.name %></p>
        <%= link_to "Sign out", logout_path, id: "sign_out" %>
      <% end %>
    </div>

  <%= yield %>

  </body>
</html>
